#Webinars {
  transform: translateZ(0);
}
#Webinars .wrapper{
  width: 100%;
  height: 196px;
  overflow:hidden;
  position:relative;
}
#Webinars .wrapper .article-image {
  width: 100%;
  height: 200px;
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  transition: .4s ease-in-out;

}

#Webinars .wrapper:hover .article-image{
  -webkit-filter: saturate(100%) blur(3px);
  filter: saturate(100%) blur(3px);
  transition: .4s ease-in-out;
}

#Webinars .wrapper > p {
  display: none;
  position: absolute;
  top: 40%;
  color: #eb008b;
  font-size: 16px;
  font-weight: bold;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: .4s ease-in-out;
  pointer-event:none;
}
#Webinars .wrapper:hover > p {
  display: block;
}
